section.section.content.check-bg-rotate#case
  .container 
    h2.section-title Кейсы
  .container.cases-container
    .swiper.cases-slider.js-cases-slider.cases 
      .swiper-wrapper
        .cases__item.swiper-slide 
          .cases__scopes.scopes.row
            .scopes__item.item 
              img.item__image(src="/src/assets/images/bx.svg" alt="Битрикс")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/ep.svg" alt="Everypay")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/integration/telegram.svg" alt="Телеграм")
          .cases__info
            h4.cases__title Автоматизация#[br] диджитал-агентства
            a.cases__link.link(href="#") Читать кейс 
              .link__icon
                +sprite('arrow-r' , 10 , 16)
        .cases__item.swiper-slide 
          .cases__scopes.scopes.row
            .scopes__item.item 
              img.item__image(src="/src/assets/images/bx.svg" alt="Битрикс")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/ep.svg" alt="Everypay")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/integration/telegram.svg" alt="Телеграм")
          .cases__info
            h4.cases__title Приём платежей #[br] в рекламной #[br] медиа-группе
            a.cases__link.link(href="#") Читать кейс 
              .link__icon
                +sprite('arrow-r' , 10 , 16)
        .cases__item.swiper-slide 
          .cases__scopes.scopes.row
            .scopes__item.item 
              img.item__image(src="/src/assets/images/bx.svg" alt="Битрикс")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/ep.svg" alt="Everypay")
            .scopes__item.item 
              img.item__image(src="/src/assets/images/integration/telegram.svg" alt="Телеграм")
          .cases__info
            h4.cases__title Оптимизация бухгалтерии в производственной компании
            a.cases__link.link(href="#") Читать кейс 
              .link__icon
                +sprite('arrow-r' , 10 , 16)
    .swiper-pagination.cases-container__pagination

