section.section.container.cta-container.content
  .cta.row
    h2.cta__title Автоматизируйте бизнес-процессы
    .cta__form.form.col
      p.cta__desc Подключайте привычные приложения, которые вы используете в работе.
      -var className = 'form-simple__input--white-theme'
      include ../blocks/form-simple.pug
      -className = false;
//- колдую
