section.section
  .container.hero-slider
    .swiper.hero-slider__inner.slider.js-hero-slider
      .swiper-wrapper   
        .swiper-slide.slider__slide.row.align-center.space-between
          .slider__col.slider__col--left.info
            h3.info__title Не пропускайте важные оплаты
            p.info__desc Если от них зависят ваши проекты или старт рекламных кампаний
            .info__form
              include ../blocks/form-simple.pug
          .slider__col.slider__col--left.image
            img.image__src(src="/src/assets/images/slider/money.svg" alt="Деньги")
        .swiper-slide.slider__slide.row.align-center.space-between
          .slider__col.slider__col--left.info
            h3.info__title Сократите издержки на бухгалтерию и коммуникации
            p.info__desc Получайте информацию о платежах на счет компании там, где вам удобно
            .info__form 
              include ../blocks/form-simple.pug
          .slider__col.slider__col--left.image
            img.image__src(src="/src/assets/images/slider/pig.svg" alt="Деньги")
        .swiper-slide.slider__slide.row.align-center.space-between
          .slider__col.slider__col--left.info
            h3.info__title Сократите издержки на бухгалтерию и коммуникации3
            p.info__desc Получайте информацию о платежах на счет компании там, где вам удобно
            .info__form
              include ../blocks/form-simple.pug
          .slider__col.slider__col--left.image
            img.image__src(src="/src/assets/images/slider/screen.svg" alt="Экран")
        .swiper-slide.slider__slide.row.align-center.space-between
          .slider__col.slider__col--left.info
            h3.info__title Сократите издержки на бухгалтерию и коммуникации3
            p.info__desc Получайте информацию о платежах на счет компании там, где вам удобно
            .info__form
              include ../blocks/form-simple.pug
          .slider__col.slider__col--left.image
            img.image__src(src="/src/assets/images/slider/notif.svg" alt="Деньги")




