- var title = 'Мы предлагаем вам простой инструмент, чтобы автоматизировать информирование о поступающих оплатах.'
- var desc = 'Бухгалтер на карантине, а директор недоступен? Ответственный сотрудник моментально узнает о поступлении денег на счет компании.'

section.section.content.check-bg
  .promo-block.promo.row.space-between.container
    .promo__image.promo__col 
      img(src="/src/assets/images/chat.svg" alt="Чат")
    .promo__info.col.promo__col
      h1.promo__title #{title}
      p.promo__desc #{desc}