extends default-block
block type 
  -var classes = 'row default-block--reversed align-center'
  -var title = 'Безопасность'
  -var desc = ['Использование Everypay полностью безопасно: подключение к банковскому счету осуществляется в режиме «только для получения выписок», а хранение информации в системе защищено и деперсонализировано.']
  -var form = false
  -var img = '/src/assets/images/security.svg'
  -var id = 'security'