section.section.container.content
  h2.section-title Скоро появится
  .soon-container 
    .soon.js-soon
      .soon__item.item.row
        h3.item__title Интеграции с CRM-системами Битрикс 24 и amoCRM
        .item__info
          ul.item__list.list
            li.list__item Интегрируйте уведомления о платежах прямо в вашу CRM, в которой работают ваши#[br] сотрудники
          .item__images.images.row.align-center
            .images__item
              img.images__src(src="/src/assets/images/bx.svg" alt="Битрикс")
            .images__item
              img.images__src(src="/src/assets/images/ac.svg" alt="АмоСРМ")
      .soon__item.item.row
        h3.item__title Открытое API Everypay
        .item__info
          ul.item__list.list
            li.list__item Подключайте свои системы и интегрируйте уведомления о поступающих платежах самостоятельно с помощью простого API Everypay
      .soon__item.item.row
        h3.item__title Автоматическое создание платежек
        .item__info
          ul.item__list.list
            li.list__item Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
      .soon__item.item.row
        h3.item__title Автоматическое создание платежек
        .item__info
          ul.item__list.list
            li.list__item Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
      .soon__item.item.row
        h3.item__title Автоматическое создание платежек
        .item__info
          ul.item__list.list
            li.list__item Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
      .soon__item.item.row
        h3.item__title Автоматическое создание платежек
        .item__info
          ul.item__list.list
            li.list__item Загрузите скан счета на оплату в нашу систему и в банк-клиенте автоматически будет создано платежное поручение на основании данных из счета. С помощью технологий компьютерного зрения и машинного обучения мы достигаем высокой точности и скорости работы
    .soon-container__more.js-soon-trigger И еще 17 нововведений

