section.section.content.check-bg.check-bg--bottom-place#whom
  .container
    h2.section-title Для кого
    .target 
      .target__item.item 
        .item__image.image 
          img.image__src(src="/src/assets/images/for-whom/money.svg" alt="Денежное дерево")
        h4.item__title Малый бизнес
        p.item__desc  Скорость получения информации о платежах и минимизация издержек
      .target__item.item 
        .item__image.image 
          img.image__src(src="/src/assets/images/for-whom/unicorn.svg" alt="Денежное дерево")
        h4.item__title Стартапы
        p.item__desc  Автоматизация бизнес-процессов и бухгалтерской рутины
      .target__item.item 
        .item__image.image 
          img.image__src(src="/src/assets/images/for-whom/lamp.svg" alt="Денежное дерево")
        h4.item__title Разработчики
        p.item__desc  Быстрое внедрение своих приложений для малого бизнеса и стартапов

