form.form-default.footer__form.js-form-default.col(action="/") 
  label.form-default__label.js-label-input
    input.form-default__input(type="text" placeholder="Ваше имя*" data-label="Имя")
  label.form-default__label.js-label-input
    input.form-default__input.validate( placeholder="Email*" data-valid="email" data-label="Email")
  label.form-default__label.js-label-input
    textarea.form-default__textarea(placeholder="Расскажите о своей компании*")
  button.btn.btn--primary.form-default__submit Подключиться