footer.footer#join 
  .container.row.space-between.footer__inner
    .footer__contacts.footer__col.contacts
      h3.section-title.section-title--block.contacts__title Подключиться
      p.contacts__desc Хотите начать пользоваться системой? Напишите нам.
      .contacts__item.contacts__email.item 
        span.item__label email
        span.item__value 
          a.item__link(href="mailto:hello@everypay.io") hello@everypay.io
    .footer__feedback.footer__col 
      include ../blocks/form-default.pug
  .container.footer__bottom.row.space-between 
    .footer__copyright.copyright © 2020, Everypay
    .footer__policy.policy
      a.policy__link(href="#") Политика конфиденциальности 



