include ../inc/mixins/svg-sprite
include ../inc/mixins/include

include ../inc/layout/header.pug
main.main
  include ../inc/templates/hero-slider.pug
  include ../inc/templates/promo-block.pug
  include ../inc/templates/how-works.pug
  include ../inc/templates/cta.pug
  include ../inc/templates/scope.pug
  include ../inc/templates/target.pug
  include ../inc/templates/cases.pug
  include ../inc/templates/default-block.pug
  include ../inc/templates/soon.pug
  include ../inc/templates/security.pug
include ../inc/layout/footer.pug