@use "../utils/mixins" as *;

.target {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
  @include media(lg) {
    gap: 20px;
  }
  .item {
    padding: 0 53px;
    display: flex;
    flex-direction: column;
    @include media(lg) {
      padding: 0;
    }
    @include media(sm) {
      align-items: center;
    }

    .image {
      align-self: center;
      margin: 0 0 37px 0;
      max-width: 240px;
      @include media(lg) {
        margin: 0 0 24px 0;
      }
      &__src {
        @include media(lg) {
          max-height: 140px;
        }
      }
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      line-height: 136%;
      letter-spacing: 0.44px;
      margin: 0 0 12px 0;
    }
    &__desc {
      font-size: 18px;
      line-height: 156%;
      letter-spacing: 0.443077px;
      margin: 0 0 0.5rem 0;
      @include media(sm) {
        max-width: 200px;
        text-align: center;
      }
      &:last-child {
        margin: 0;
      }
      @include media(lg) {
        font-size: 16px;
      }
    }
  }
}
